# ************************************************************************** #
#                                                                            #
#   .gitignore                                                               #
#                                                                            #
#   By: elhmn <www.elhmn.com>                                                #
#             <nleme@live.fr>                                                #
#                                                                            #
#   Created:                                                 by elhmn        #
#   Updated: Thu Jun 28 14:57:21 2018                        by bmbarga      #
#                                                                            #
# ************************************************************************** #

#vim
.*.sw*
.*.orig
tags
